mat-form-field {
    padding-top: 10px;
    width: 400px;
  }
  .card-container{
    padding: 0%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
    border-radius: 5px;
  }
  .text-center{
    text-align: center;
    margin: 30px;
  }
  .title-center {
    flex: 1 1 auto;
    text-align: center;
    margin: 30px;
  }
  .action{
    display: flex;
    flex: 1 1;
    gap: 5px;
  }