<!-- <mat-card>
    <h1>Reset Password  <mat-icon>key</mat-icon></h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="newPassword" formControlName="newPassword">
        <mat-error *ngIf="passwordForm.controls['newPassword'].invalid && (passwordForm.controls['newPassword'].errors || passwordForm.controls['password'].touched)">
          <span *ngIf="passwordForm.controls['newPassword'].errors?.['required']">Password Required</span>
          <span *ngIf="passwordForm.controls['newPassword'].errors?.['pattern']">
            Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special
            character.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="confirmPassword" formControlName="confirmPassword">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Submit</button>
      <button routerLink="/login" mat-raised-button color="primary" type="submit">Back To Login</button>
    </form>
  </mat-card> -->
  <div class="card-container">
    <mat-card>
            <mat-card-content>
                <mat-toolbar color="primary">
                    <span class="title-center">RESET PASSWORD</span>
                </mat-toolbar>
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="newPassword" formControlName="newPassword">
                    <mat-error *ngIf="passwordForm.controls['newPassword'].invalid && (passwordForm.controls['newPassword'].errors || passwordForm.controls['password'].touched)">
                      <span *ngIf="passwordForm.controls['newPassword'].errors?.['required']">Password Required</span>
                      <span *ngIf="passwordForm.controls['newPassword'].errors?.['pattern']">
                        Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special
                        character.
                      </span>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="confirmPassword" formControlName="confirmPassword">
                  </mat-form-field>
                  <div class="action">
                    <button routerLink="" mat-raised-button color="accent" type="submit" style="width:100%">Back To Login</button>
                    <button mat-raised-button color="primary" type="submit"  style="width:100%">Submit</button>
                  </div>
                </form>
        </mat-card-content>
         </mat-card>
    </div>
