<div class="loginContainer">
    <h1 color="primary">Law.ai</h1>
    <mat-tab-group>
        <mat-tab label="Login">
            <div class="loginform">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" type="email"/>
                        <mat-error
                            *ngIf="loginForm.controls['email'].errors||loginForm.controls['email'].touched">
                            <span *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</span>
                            <span *ngIf="loginForm.controls['email'].errors?.['pattern']">Email is invalid format.</span>

                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"/>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="eye">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        <mat-error
                            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].errors||loginForm.controls['password'].touched)">
                            <span *ngIf="loginForm.controls['password'].errors?.['required']">Password is
                                Required.</span>
                            <span *ngIf="loginForm.controls['password'].errors?.['pattern']"></span>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </form>
                <div><a (click)="SendForgetLink()">forgot Password? </a></div>
                <div class="divider">
                    <h1>or</h1>
                </div>
                <div class="FormFooter">
                    <div class="GoogleSignup">
                        <a href="#" target="_blank" class="px-2"> 
                        <img src="https://freepngimg.com/download/google/66904-logo-now-google-plus-home-free-png-hq.png"
                         alt=""></a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="SignUp">

            <div class="loginform">
                <form [formGroup]="SignupForm" (ngSubmit)="onSignup()">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" type="email"/>
                        <mat-error
                            *ngIf="SignupForm.controls['email'].errors||SignupForm.controls['email'].touched">
                            <span *ngIf="SignupForm.controls['email'].errors?.['required']">Email is required.</span>
                            <span *ngIf="loginForm.controls['email'].errors?.['pattern']">Email is invalid format.</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"/>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="eye">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        <mat-error
                            *ngIf="SignupForm.controls['password'].invalid && (SignupForm.controls['password'].errors||SignupForm.controls['password'].touched)">
                            <span *ngIf="SignupForm.controls['password'].errors?.['required']">Password is
                                Required.</span>
                            <span *ngIf="SignupForm.controls['password'].errors?.['pattern']"></span>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">SignUp</button>
                </form>
                <!--        
        <div class="divider">
            <h1>Or</h1>
        </div> -->
                <div class="Signup">
                    <a (click)="switchTab()">
                        Already have account? LogIn here
                        
                    </a>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>