.loginContainer{
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.loginContainer h1{
    color: #3F51B5;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
}
.loginform{
    min-width: 300px;
    min-height: 400px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
mat-form-field{
    width: 100%;
    margin: 3px 0;
}

form button{
    width: 100%;
    padding: 10px 0;
    border: none;
}

.loginform div{
    padding: 1px 0;
}
.divider{
    text-align: center;
    display: flex;
}
.divider h1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 20px;


}

.divider h1::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 45%;
    top: 50%;
    left: 0;
    background:  #3F51B5;
   
}
.divider h1::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 45%;
    top: 50%;
    right: 0;
    background:  #3F51B5;
  
}
.GoogleSignup{
    max-width: 70px;
    margin: auto;   
}
.GoogleSignup img{
    max-width: 100%;
}
.FormFooter{
    background:  #3F51B5;
    
}
.Signup{
    text-align: center;
}
a{
    cursor: pointer;
}
.eye{
    margin-right: 10px;
}