<section class="Loginreg">
  <h1 color="primary"><b>Law.Ai</b></h1>
  <mat-tab-group>
      <mat-tab label="Login" class="mySignup">
          <div class="panel-body p-3 ">
              <!-- login here   -->
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <div class="form-group pt-3 " >
                      <div class="input-field">
                          <span class="fa fa-user p-2">
                          </span>
                          <input formControlName="email" class="blue" type="text" placeholder="Email">
                      </div>
                  </div>
                  <small *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].errors||loginForm.controls['email'].touched)"
                      class="text-danger"> <span *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</span>
                      <span *ngIf="loginForm.controls['email'].errors?.['email']">Please enter a valid email
                        address.</span></small>
                  <div class="form-group pt-3">
                      <div class="input-field"
                          [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                          <span class="fa fa-lock p-2"></span>
                          <input formControlName="password" class="blue" [type]="type" placeholder="Password">
                          <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                      </div>
                  </div>
                  <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')"
                      class="text-danger">*Password is required</small>
                  <button mat-raised-button color="primary" type="submit" style="width:100%; margin-top: 20px;">Log
                      In</button>
                  <div class="text-center pt-4 text-muted"> <a id="forget" class="blue" class="font-weight-bold"
                          (click)="openEmailDialog()">Forget Password?</a></div>
              </form>
              <div class="mx-3 my-2 py-2 bordert">
                  <div class="text-center py-3">
                      <a href="https://www.google.com" target="_blank" class="px-2"> <img
                              src="https://tse2.mm.bing.net/th?id=OIP.8wr4-ydwdO4EVJXJ3zrERgAAAA&pid=Api&P=0"
                              alt=""></a>
                  </div>
              </div>
          </div>
      </mat-tab>
      <mat-tab label="Sign Up" >
          <div class="panel-body p-3 ">
              <!-- reg here  -->
              <form [formGroup]="signUpForm" (ngSubmit)="singup()">
                  <div class="form-group pt-3">
                      <div class="input-field"
                          [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                          <span class="fa fa-user p-2">
                          </span>
                          <input formControlName="email" class="blue" type="text" placeholder="Email">
                      </div>
                  </div>
                  <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')"
                      class="text-danger">*Email is required</small>
                  <div class="form-group pt-3">
                      <div class="input-field"
                          [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                          <span class="fa fa-lock p-2"></span>
                          <input [type]="type" placeholder="Password" class="blue" formControlName="password" />
                          <span (click)="hideShowPass()" class="fa {{ eyeIcon }}"></span>
                      </div>
                  </div>
                  <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')"
                      class="text-danger">*Password is required</small>
                  <button type="submit" mat-raised-button color="primary" class="btn-block mt-4 w-100">Sign
                      Up</button>
                  <div class="text-center pt-4 text-muted">Already having account? <a id="forget" class="blue"
                        (click)="SwitchLogin()"  >Login</a></div>
              </form>
              <!-- reg here  -->
          </div>
      </mat-tab>
  </mat-tab-group>
</section>
