.Loginreg{
  max-width: 400px;
  min-height: 500px;
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: center;
}
.mySignup{
  background: pink;
  width: 500px;
  height: 600px;
}
::ng-deep .mat-tab-body-wrapper {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
h1{
color: #3F51B5;
}
.input-field{
  border:1px solid #3F51B5;
}
.outer{
  height: 100vh;
  background: #6b66b6cb;
}
.panel-heading
{
  text-align: center;
  margin-bottom: 10px;
}
#forget
{
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.form-inline label
{
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}
.btn
{
  margin-top: 20px;
  background-color: rgb(22, 10, 240);
  color: white;
  background-color: #007BFF;
  /* border-radius: 15px; */
}
.panel{
  min-height: 380px;
  /* box-shadow: 20px 20px 80px rgb(218,218,218); */
  /* background-color: rgb(187, 204, 229); */
  /* border-radius: 12px; */
  margin-top: 100px;
}
.input-field
{
  /* border-radius: 5px; */
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  /* border: 1px solid #ddd; */
  color: #007BFF;
}
.input-field.error
{
  border: 1px solid red;
  color: red;
}
input[type='text'],
input[type='password']{
outline:none;
border:none;
width: 100%;
box-shadow: none;
}
.fa-eye-slash.btn{
  border: none;
  outline: none;
  box-shadow: none;
  color: #007BFF;
}
img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.bordert
{
  border-top: 1px solid #aaa;
  position: relative;
}
.bordert:after
{
  content: "or";
  color: #007BFF;
  position: absolute;
  top: -13px;
  left: 45%;
  background-color: #fff;
  padding: 0 8px;
}
.blue {
  color: #007BFF;
}
