.email-input{
  padding-top: 10px;
}
.full-width{
  width: 100%;
}
.title-center {
  flex: 1 1 auto;
  text-align: center;
  margin: 30px;
}
.action{
      padding: 0px 10px -10px 10px;
}
button {
  flex: 1 1;
}
mat-form-field{
  width: 100%;
}
